@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  height: spacing.$spacing-11;
  display: flex;
  align-items: center;
  background-color: $ui-02;
  border-top: 0.0125rem solid $ui-03;
  border-bottom: 0.0125rem solid $ui-03;
  padding: 0 spacing.$spacing-05;
}

.photoPlaceholder {
  height: spacing.$spacing-09;
  width: spacing.$spacing-09;
}

.groupAvatar {
  width: spacing.$spacing-09;
  height: spacing.$spacing-09;
  margin: spacing.$spacing-03 spacing.$spacing-05 spacing.$spacing-03 0;
  border-radius: 1px;
}

.groupName {
  @include type.type-style('heading-03');
  font-weight: 600;
}

.groupInfoContent {
  margin-left: spacing.$spacing-05;
  margin-right: spacing.$spacing-10;
}

.groupInfoRow {
  display: flex;
  align-items: center;
  & > button {
    min-height: spacing.$spacing-07;
  }
  @include type.type-style('body-compact-02');
  color: $text-02;
  column-gap: 0.8rem;

}
.sessionNotesLabel {
  @include type.type-style('label-01');
  margin-bottom: spacing.$spacing-01
}

.groupEditBtn {
  color: $ui-05;
  margin: spacing.$spacing-03;
}

.groupMetaContent {
  flex-grow: 1;
}
