@use '@carbon/styles/scss/spacing';
// @use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';


.formReviewCard {
  background-color: $ui-02;
  padding: spacing.$spacing-02;
}

.formReviewCard :global(.cds--accordion) :global(.cds--accordion__item) {
  border: none;
}

.formReviewCard :global(.cds--accordion__title) {
  display: flex;
  align-items: baseline;
  column-gap: spacing.$spacing-05;
}

.formReviewCard :global(.cds--accordion__content) {
  padding: spacing.$spacing-03;
}

.dataField {
  @include type.type-style('code-02');
  background-color: $ui-01;
  padding: spacing.$spacing-03;
}

.displayName {
  @include type.type-style('heading-02');
  font-weight: bold;
}

.identifier {
  @include type.type-style('body-compact-01')
}
