@use '@carbon/colors';
@use '@carbon/layout';

.header {
  background-color: colors.$white;
  border-bottom: 1px solid colors.$gray-20;
  margin-bottom: layout.$spacing-05;
}

.mainContent {
  padding: 0 layout.$spacing-07 layout.$spacing-07;
}
