
@use '@carbon/colors';
@use '@carbon/layout';

.patientSearchBar {
  width: 50vw;
  position: relative;
}

.floatingSearchResultsContainer {
  position: absolute;
  overflow-y: auto;
  box-shadow: 0 layout.$spacing-03 layout.$spacing-05 colors.$gray-20;
  z-index: 99;
  border: 0 1px 1px 1px solid colors.$gray-20;
  width: 100%;
  background-color: colors.$white-0;
}

.searchArea {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: colors.$gray-50;
}

.patientSearchInput {
  border: none;
}

.patientSearchInput input:focus {
  outline: 1px solid 1px solid colors.$orange-40;
}
