@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.searchResultsContainer {
  width: 100%;
  background-color: colors.$white-0;

  a {
    text-decoration: none;
    @include type.type-style('heading-02');
    color: colors.$gray-70;
    margin: 0rem;
  }
}

:global(.omrs-breakpoint-lt-desktop) .searchResultsContainer {
  top: 6.25rem;
}

:global(.omrs-breakpoint-gt-tablet) .searchResultsContainer {
  padding: 0;
  top: layout.$spacing-09;
}

.searchResults {
  width: 100%;
}



.searchTerm {
  @include type.type-style('heading-03');
  margin-top: 0.375rem;
}

.resultsText {
  @include type.type-style('label-01');
  color: colors.$gray-70;
  line-height: layout.$spacing-05;
  margin: layout.$spacing-03 layout.$spacing-05;
}

.helperText {
  color: var(--omrs-color-ink-medium-contrast);
  margin-left: 2.375rem;
}

.emptyResultText {
  @include type.type-style('heading-compact-01');
  color: colors.$gray-70;
  margin-top: layout.$spacing-05;
  margin-bottom: 0.313rem;
}

.actionText {
  @include type.type-style('body-01');
  color: colors.$gray-70;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  padding: 4.688rem 0 layout.$spacing-06;
}

.emptySearchResultsTile {
  text-align: center;
  margin-top: layout.$spacing-05;
  padding: layout.$spacing-09 0rem;
}

:global(.omrs-breakpoint-gt-tablet) .emptySearchResultsTile {
  margin: layout.$spacing-05;
}

.errorMessage {
  @include type.type-style('heading-compact-02');
  margin-top: 2.25rem;
  margin-bottom: layout.$spacing-03;
}

.errorCopy {
  margin-bottom: layout.$spacing-03;
  @include type.type-style('body-01');
  color: colors.$gray-70;
}

.lastItem {
  padding: layout.$spacing-05;
  display: flex;
  justify-content: center;
  align-items: center;
}
