@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';


.breadcrumbsContainer > div > div > nav {
  background-color: $ui-02;
  padding: spacing.$spacing-04 spacing.$spacing-05;
  height: spacing.$spacing-08;
}

.workspaceWrapper {
  display: flex;
  justify-content: center;
}

.workspace {
  width: 1100px;
}

.selectPatientMessage {
  @include type.type-style('productive-heading-03');
  margin: spacing.$spacing-07;
  text-align: center;
}

.formMainContent {
  display: flex;
  text-align: center;
  margin-top: spacing.$spacing-05;
  column-gap: spacing.$spacing-05;
}

.formContainer {
  flex-grow: 1;
  max-height: calc(100vh - 14rem);
  overflow-y: scroll;
}

.formContainer :global(.cds--form-item) :global(.question-area) {
  max-width: 100%;
}

.rightPanel {
  width: 13rem;
  text-align: left;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: spacing.$spacing-05;
}

.patientCardsSection {
  margin: spacing.$spacing-05 0;
  border-bottom: 1px solid colors.$gray-10;
}

.rightPanelActionButtons {
  display: flex;
  flex-direction: column;
  row-gap: spacing.$spacing-03;
  & button {
    width: 100%;
    text-decoration: "none";
  }
}

.formSection {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.formSectionTile {
  width: 500px;
}


.formError {
  @include type.type-style("helper-text-02");
  color: colors.$red-60;
}
