@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';


.breadcrumbsContainer > div > div > nav {
  background-color: colors.$white-0;
  padding: layout.$spacing-04 layout.$spacing-05;
  height: layout.$spacing-08;
}

.workspaceWrapper {
  display: flex;
  justify-content: center;
}

.workspace {
  width: 1100px;
}

:global(.omrs-breakpoint-lt-large-desktop) .workspace {
  width: 1000px;
}

:global(.omrs-breakpoint-lt-small-desktop) .workspace {
  // there's only so much we can do here. Currently the design does not support tablet
  width: 100vw;
  padding: 0 layout.$spacing-04;
}

.selectPatientMessage {
  @include type.type-style('heading-03');
  margin: layout.$spacing-07;
  text-align: center;
}

.formMainContent {
  display: flex;
  text-align: center;
  margin-top: layout.$spacing-05;
  column-gap: layout.$spacing-05;
}

.formContainer {
  flex-grow: 1;
  max-height: calc(100vh - 14rem);
  overflow-y: scroll;
  text-align: left;
}

.formContainer :global(.cds--form-item) :global(.question-area) {
  max-width: 100%;
}

.rightPanel {
  min-width: 13rem;
  text-align: left;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: layout.$spacing-05;
}

.patientCardsSection {
  margin: layout.$spacing-05 0;
  border-bottom: 1px solid colors.$gray-10;
}

.rightPanelActionButtons {
  display: flex;
  flex-direction: column;
  row-gap: layout.$spacing-03;
  & button {
    width: 100%;
    text-decoration: "none";
  }
}

.formSection {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.formSectionTile {
  width: 500px;
}


.formError {
  @include type.type-style("helper-text-02");
  color: colors.$red-60;
}
